#my-extension-widget {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 80vh;
  z-index: 1000000;
  background-color: #d7cedb;
  border-left: 1px solid #ccc;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  box-sizing: border-box;
  display: flex; /* Enable flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  overflow: hidden; /* Hide overflow */
}

.loading-container {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
}

.loading-animation {
  text-align: center;
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center;
}

#loading-logo,
#loading-img {
  max-width: 100%; /* Ensure image does not exceed container width */
  max-height: 65%; /* Adjust max height as needed */
  object-fit: contain; /* Keep aspect ratio */
}

.loading-text {
  font-size: 1.2em;
  color: #674188; /* Keeping the text color consistent with the widget */
}
