/* styles.css */
#my-extension-widget {
  position: fixed; /* Fixed position ensures the widget floats above the page */
  top: 0; /* Stick to the top */
  right: 0; /* Stick to the right side */
  width: 300px; /* Set a width for your widget */
  height: 80vh; /* Full height of the viewport */
  z-index: 10000; /* Very high z-index to ensure it's on top */
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Semi-transparent white background */
  border-left: 1px solid #ccc; /* Add a border to the left edge */
  overflow-y: auto; /* Allows scrolling within the widget */
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2); /* Shadow to left edge */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  margin-right: 10px;
}

#my-widget-content {
  padding: 20px; /* Padding inside the widget content for spacing */
}

#my-widget-close {
  position: absolute;
  top: 10px; /* Position at the top right inside the widget */
  right: 10px;
  cursor: pointer;
  background-color: #ff4545; /* Red background for the close button */
  color: white; /* White text for visibility */
  border: none; /* No border */
  padding: 5px 10px; /* Padding inside the close button for spacing */
  border-radius: 50%; /* Circular close button */
  font-size: 1em; /* Appropriate text size for the button */
}

.scrollable-box {
  max-height: 230px;
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  margin: 10px 0;
}
