/* styles.css */
#my-extension-widget {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 400px !important;
  height: 80vh !important;
  z-index: 1000000 !important;
  background-color: #d7cedb !important;
  border: 4px solid #ccc !important;
  overflow-y: auto !important;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2) !important;
  box-sizing: border-box !important;
  margin-right: 10px !important;
  padding: 10px !important;
  font-family: Arial, sans-serif !important;
  border-color: #9a86a4 !important;
  border-radius: 20px !important;
  color: #674188 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

#my-widget-content {
  padding: 10px !important;
  font-family: Arial, sans-serif !important;
  border-color: #674188 !important;
  background-color: #674188 !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

#my-widget-close {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  cursor: pointer !important;
  background-color: #852999 !important;
  color: white !important;
  border: 2px !important;
  padding: 5px 10px !important;
  border-radius: 50% !important;
  font-size: 1em !important;
  border-color: #852999 !important;
}

.scrollable-box {
  height: 180px !important;
  overflow: auto !important;
  border: 2px solid #ccc !important;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  background-color: #c1b5ceff !important;
  border-color: #9a86a4 !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: normal !important;
  max-width: 100% !important;
}

.button-box {
  border: 2px solid !important;
  background-color: #9A86A4 !important;
  border-radius: 8px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
  padding: 10px !important;
  margin: 10px 0 !important;
  border-color: black !important;
  color: #674188 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

.title {
  color: #674188 !important;
  text-align: center !important;
  font-size: 22px;
}

.button-box:hover {
  background-color: #2F3A8F !important;
}
