/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
#my-extension-widget {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  width: 400px !important;
  height: 82vh !important;
  z-index: 1000000 !important;
  background-color: #d7cedb !important;
  border: 4px solid #ccc !important;
  overflow-y: auto !important;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.2) !important;
  box-sizing: border-box !important;
  margin-right: 10px !important;
  padding: 10px !important;
  font-family: Arial, sans-serif !important;
  border-color: #9a86a4 !important;
  border-radius: 20px !important;
  color: #674188 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

#my-widget-content {
  padding: 10px !important;
  font-family: Arial, sans-serif !important;
  border-color: #674188 !important;
  background-color: #674188 !important;
  color: black !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

#my-widget-close {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  cursor: pointer !important;
  background-color: #852999 !important;
  color: white !important;
  border: 2px !important;
  padding: 5px 10px !important;
  border-radius: 50% !important;
  font-size: 1em !important;
  border-color: #852999 !important;
}

.scrollable-box {
  height: 180px !important;
  overflow: auto !important;
  border: 2px solid #ccc !important;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 8px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  background-color: #c1b5ceff !important;
  border-color: #9a86a4 !important;
  color: #4d4c7d !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  font-family: 'Didact Gothic', sans-serif;
  max-width: 100% !important;
}

.background-image {
  background-image: url('../images/logo_48.jpg');
  background-size: cover; /* or contain, depending on the effect you want */
  background-position: center;
  background-repeat: no-repeat;
  /* height: 200px; /* You must define a size for the div */
  /* width: 100%; */ 
}


.button-box {
  border: 2px solid !important;
  background-color: #9A86A4 !important;
  border-radius: 8px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
  padding: 10px !important;
  margin: 10px 0 !important;
  border-color: black !important;
  color: #674188 !important;
  font-size: 16px !important;
  font-weight: bold !important;
  max-width: 100% !important;
}

.title {
  color: #4d4c7d !important;
  text-align: center !important;
  font-size: 20px;
  margin-bottom: 0%;
  margin-top: 0%;
  font-family: 'Rockwell', sans-serif;
}
.sub-title{
  color: #4d4c7d !important;
  text-align: center !important;
  padding-bottom:0%;
  padding-top: 0%;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  font-size: 20px;
  font-family: 'Rockwell', sans-serif;
}

#query-placeholder {
  color: #674188 !important;
  font-size: 28px;
}

.button-box:hover {
  background-color: #2F3A8F !important;
  color: #454471 !important;
}

.image-container {
  text-align: center; /* This will center the image if it's an inline element or an inline-block element */
}

#top-image {
  margin-bottom: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  margin-top: 0%;
  display: block; /* This makes the image a block element */
  margin-left: auto; /* This, along with margin-right, will center the image */
  margin-right: auto;
  /* Optional: if you know the width of the image, you can set it here and it will also help with centering */
  width: 48px; /* image's width */ /* Replace with your image's width */
}